p
    
    = '// just some paragraphs'
    br
    = '//- will not output within markup'
    br
    = 'p foo'
    br
    = 'p bar'
    br
    = 'HTML'
    br
    = '<!-- just some paragraphs-->'
    br
    = '<p>foo</p>'
    br
    = '<p>bar</p>'
    br
//-
    Comments for your template writers.
    Use as much text as you want.
//
    Comments for your HTML readers.
    Use as much text as you want.
hr